.food-category-section {
  padding: 40px 20px;
  background-color: #fff;
  margin-top: 50px;
}

.food-category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 70px;
  justify-items: center;
}

.food-category-grid1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 30px;
  justify-items: center;
  margin-top: 20px;
}

.food-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.food-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.food-card:hover {
  transform: scale(1.05);
}

.food-label {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
